@model PencilBox.Models.ps_ProductCreate

@{
    ViewBag.Title = "Đăng sản phẩm";
    //Layout = "~/Views/Shared/_OrderLayout.cshtml";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>*@

<form class="form-horizontal" role="form" method="post">
    <div class="form-group" style="margin-bottom:0px">
        <label for="textName" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </div>

    <div class="form-group">
        <label for="productName" class="col-sm-3 control-label">tên sản phẩm</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Product.Name, new { @class = "form-control", id="productName", placeholder="tên sản phẩm" })
            @Html.ValidationMessageFor(m => m.Product.Name)
        </div>
    </div>

    <div class="form-group">
        <label for="price" class="col-sm-3 control-label">giá</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Product.Price, new { @class = "form-control", id="price", placeholder="giá" })
            @Html.ValidationMessageFor(m => m.Product.Price)
        </div>
    </div>

    <div class="form-group">
        <label for="upload_files" class="col-sm-3 control-label">hình ảnh</label>
        <div class="col-sm-9">
            @foreach (var photo in Model.ProductPhotos)
            {
                <img src="~/PencilBox_Data/Images/@photo.PhotoPath" height="225" data-PhotoId="@photo.PhotoId" />
            }
            <input name="attachments" id="upload_files" type="file" />
            <span class="help-block">Sản phẩm của bạn phải có ít nhất 3 hình ảnh.</span>
        </div>
    </div>
    
    <div class="form-group">
        <label for="editor" class="col-sm-3 control-label">mô tả sản phẩm</label>
        <div class="col-sm-9">
            @Html.TextAreaFor(m => m.Product.Description, new { @class = "form-control", rows = "8" })
        </div>
    </div>

    <div class="form-group">
        <label for="tags" class="col-sm-3 control-label">tags</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Tags, new { @class = "form-control", id="tags", placeholder="tags" })
            @Html.ValidationMessageFor(m => m.Tags)
            <span class="help-block">Sử dụng tag để quảng bá sản phẩm của bạn, sản phẩm của bạn sẽ xuất hiện trong những tag tương ứng.</span>
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            @Html.HiddenFor(m => m.Product.ProductId)
            @Html.HiddenFor(m => m.Product.UserId)

            <button type="submit" class="btn btn-success">đăng sản phẩm</button>
            <a href="~/@Model.Tags.Replace("#", "")" class="btn btn-default">hủy</a>
        </div>
    </div>
</form>

@section scripts
{
   <script type="text/javascript">
       $(document).ready(function () {
           $("#upload_files").kendoUpload({
               async: {
                   saveUrl: "/Upload/Save",
                   autoUpload: true
               }
           });

           //$("#editor").kendoEditor({
           //    tools: [
           //        "bold",
           //        "italic",
           //        "underline",
           //        "foreColor",
           //        "backColor",
           //        "justifyLeft",
           //        "justifyCenter",
           //        "justifyRight",
           //        "justifyFull",
           //        "insertUnorderedList",
           //        "insertOrderedList",
           //        "indent",
           //        "outdent",
           //    ]
           //});
       });
   </script>
}