@model IEnumerable<PbData.Entities.pb_Product>

@{
    ViewBag.Title = ViewBag.TagName;
}

@Html.Action("p_TagHeader", "Tag", new { tagName = ViewBag.TagName})

@Html.Partial("p_ProductListView", Model)

@*<div id="main" style="background-color:#dadad6; margin-left:-2px">
    <ul id="tiles">
        @foreach (var item in Model)
        {
            if (@item.pb_Photo.Count > 0)
            {
                System.Drawing.Image image = System.Drawing.Image.FromFile(Server.MapPath("~/PencilBox_Data/Images/") + item.pb_Photo.First().ImagePath);
            <li>
                <div>
                    <a href="~/Product/Detail?productId=@item.ProductId">
                        <img src="~/PencilBox_Data/Images/@item.pb_Photo.First().ImagePath" width="230" height="@((230 * image.Height)/image.Width)" />
                    </a>
                    <div class="theme-j" style="padding:6px 4px">
                        <b style="float:right; color:#ea1943;">@(item.Price/1000)K</b>
                        <a href="~/Product/Detail?productId=@item.ProductId">@item.Name</a>
                    </div>
                </div>
            </li>
            }
        }
    </ul>
</div>*@

@section headercontent
{
    @*<link href="~/Content/wookmark/reset.css" rel="stylesheet" />*@
    <link href="~/Content/wookmark/style.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Content/wookmark/jquery.wookmark.min.js"></script>

    <script type="text/javascript">
        $(document).ready(new function () {
            // Prepare layout options.
            var options = {
                autoResize: true, // This will auto-update the layout when the browser window is resized.
                container: $('#main'), // Optional, used for some extra CSS styling
                offset: 10, // Optional, the distance between grid items
                itemWidth: 232 // Optional, the width of a grid item
            };

            var handler = $('#tiles li');

            // Call the layout function.
            handler.wookmark(options);
        })
    </script>
}