@model PencilBox.Models.ps_ProductCreate

<table>
    <tr>
        <td style="text-align:right; width:120px">tên sản phẩm</td>
        <td>
            @Html.TextBoxFor(m => m.Product.Name)
            @Html.ValidationMessageFor(m => m.Product.Name)
        </td>
    </tr>
    <tr>
        <td style="text-align:right">giá</td>
        <td>
            @Html.TextBoxFor(m => m.Product.Price)
            @Html.ValidationMessageFor(m => m.Product.Price)
        </td>
    </tr>
    <tr>
        <td style="text-align:right">hình ảnh</td>
        <td>
            @foreach (var photo in Model.ProductPhotos)
            {
                <img src="~/PencilBox_Data/Images/@photo.PhotoPath" height="225" data-PhotoId="@photo.PhotoId" />
            }
            <input name="attachments" id="upload_files" type="file" />
        </td>
    </tr>
    <tr>
        <td style="text-align:right">mô tả sản phẩm</td>
        <td>
            <textarea id="editor" name="@Html.NameFor(m=>m.Product.Description)" rows="10" cols="30" style="width:620px;height:300px">
                @Html.Raw(Model.Product.Description)
            </textarea>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">Tags</td>
        <td>
            @Html.TextBoxFor(m => m.Tags, new { style = "width:606px" })
            @Html.ValidationMessageFor(m => m.Tags)
        </td>
    </tr>
    <tr>
        <td style="text-align:right"></td>
        <td>
            @Html.HiddenFor(m => m.Product.ProductId)
            @Html.HiddenFor(m => m.Product.UserId)
            @*<input type="submit" value="Publish" class="btn btn-success" />*@
            <button type="submit" class="btn btn-success">đăng sản phẩm</button>
            <a href="~/@Model.Tags.Replace("#", "")" class="btn btn-default">hủy</a>
        </td>
    </tr>
</table>