@model PbData.Entities.pb_UserProfile

@{
    ViewBag.Title = @Model.FullName;
}

<div class="col-sm-3">
    <h3>@Model.FullName</h3>
    <br />
     <img  src ="http://juddy.vn/PencilBox_Data/Avatars/@Model.Avatar"/>
</div>
<div class="col-sm-9">
    <dl class="dl-horizontal">
        <dt>MembershipId:</dt>
        <dd>@Model.MembershipId</dd>
        <dt>DateCreated:</dt>
        <dd>@Model.DateCreated</dd>
        <dt>DateUpdated:</dt>
        <dd>@Model.DateUpdated</dd>
        <dt>DateOfBirth:</dt>
        <dd>@Model.DateOfBirth</dd>
    </dl>
</div>

