@model PbData.Entities.pb_HashTag

@{
    ViewBag.Title = "Edit";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<form action="/Tag/Edit" method="post">
    <table>
        <tr>
            <td style="text-align:right">HashTag</td>
            <td>
                <label>@Model.TagName</label>
            </td>
        </tr>
        <tr>
            <td style="text-align:right; width:90px">Text Name</td>
            <td>
                @Html.TextBoxFor(m => m.TextName)
            </td>
        </tr>
        <tr>
            <td style="text-align:right">Icon</td>
            <td>
                <input name="attachments" id="upload_files" type="file" />
            </td>
        </tr>
        <tr>
            <td style="text-align:right">Description</td>
            <td>
                @Html.TextAreaFor(m => m.Description)
            </td>
        </tr>

        <tr>
            <td style="text-align:right">Default HashTags</td>
            <td>
                <textarea></textarea>
            </td>
        </tr>

        <tr>
            <td style="text-align:right"></td>
            <td>
                @Html.HiddenFor(m => m.HashTagId)
                @Html.HiddenFor(m => m.Type)
                @Html.HiddenFor(m => m.IconPath)
                <input type="submit" value="Publish" class="modern-button theme-a width120" />

                <a href="@Url.Action("Index", "Tag")"
                    class="modern-button theme-b"
                    style="display:inline-block; width:120px;">Cancel</a>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#upload_files").kendoUpload({
            async: {
                saveUrl: "/Upload/TagIcon",
                multiple : false,
                autoUpload: true
            }
        });
    })

</script>
