<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>juddy/@ViewBag.Title</title>
    <link href="~/Content/images/allapp-icon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/kendoui/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendoui/styles/kendo.metro.min.css" rel="stylesheet" />
    
    @RenderSection("headercontent", required: false)
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
</head>
<body>
    @Html.Partial("p_Header")

    <div id="body">
        <section class="content-wrapper main-content clear-fix order-page">
            <div id="main-panel" style="min-height:360px; width:600px">
                @RenderBody()
            </div>

            <div id="right-panel" style="width:330px">
                @RenderSection("rightpanel", required: false)
            </div>
        </section>
    </div>

    @Html.Partial("p_Footer")
    <script src="~/Content/kendoui/js/jquery.min.js"></script>
    <script src="~/Content/kendoui/js/kendo.web.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=298089496948422";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46123038-1', 'juddy.vn');
        ga('send', 'pageview');
    </script>
</body>
</html>

