@model PencilBox.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LightLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div class="row" style="min-height:450px">
    <div class="col-sm-6">
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        <p>Để tiết kiệm thời gian bạn có thể đăng nhập thông qua facebook.</p>
    </div>
</div>

@*
<section id="loginForm">
    <h2>Bạn có thể login bằng facebook</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <table>
        <tr>
            <td class="label">@Html.LabelFor(m => m.Email)</td>
            <td>
                @Html.TextBoxFor(m => m.Email)
                <div>
                    @Html.ValidationMessageFor(m => m.Email)</div>
            </td>
        </tr>
        <tr>
            <td class="label">@Html.LabelFor(m => m.Password)</td>
            <td>
                @Html.PasswordFor(m => m.Password)
                <div>
                    @Html.ValidationMessageFor(m => m.Password)</div>
            </td>
        </tr>

        <tr>
            <td class="label"></td>
            <td>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </td>
        </tr>

        <tr>
            <td class="label"></td>
            <td>
                <input type="submit" value="Log in" class="modern-button theme-a width120" />
            </td>
        </tr>

        <tr>
            <td class="label"></td>
            <td>
                <p style="margin-top:50px">@Html.ActionLink("Register", "Register", null, new { @class = "modern-button theme-b width80" }) if you don't have an account.</p>
            </td>
        </tr>
    </table>

</section>
}*@

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    <h2>Bạn có thể login bằng facebook</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
