@model PbData.Entities.pb_Product

@{
    ViewBag.Title = "ProductDetails";
}

<h2>ProductDetails</h2>

<fieldset>
    <legend>pb_Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiscountPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiscountPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HumanCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HumanCode)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CoverImage)
    </div>
    <div class="display-field">
        <img src="http://localhost:2064/PencilBox_Data/Images/@Model.CoverImage.ImagePath" height="200" />
    </div>

    <div class="display-label">
         <label>HashTag</label>
    </div>
    <div class="display-field">
        @foreach (var item in Model.pb_ProductTag)
        {
            @Html.ActionLink(item.pb_HashTag.TagName, "ProductByTagName", 
                new { tagName = item.pb_HashTag.TagName },
                new { style = "padding: 0px 2px" })
        }
    </div>

</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
