@if (Request.IsAuthenticated) {
    <text>
        <div class="theme-f" style="height:30px; color:white; line-height:30px; text-align:right; width:auto; padding-right:8px">
            @Html.ActionLink(ps_Membership.GetUser().FullName, "Index", "User", 
                routeValues: null, 
                htmlAttributes: new { @class = "username", title = "Manage", style="color:white" }) 
        </div>
        
        @*@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">Logout</a>
        }*@
    </text>
} else {
    @*<ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
    <div class="theme-h" style="height:30px; color:white; font-weight:bold; line-height:30px; text-align:right; width:auto; text-align:center">
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style="color:white" })
    </div>
}
